.leaflet-container {
    width: 60vw;
    height: 90vw;
    position: relative;
    display: inline-block;
}
.map {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    display: inline-block;
    overflow: hidden;
}