:root {
    --nav-width: 20%;
    --nav-height: 40px;
    font-family: Helvetica, Arial, sans-serif;
    --bg-color: white;
    --border-radius: 5px;
    --form-border-width: 1px;
    --border-color: lightgrey;
    --hover-color: rgb(147, 147, 226);
}
button {
    border-radius: var(--border-radius);
    border-width: var(--form-border-width);
    border-color: var(--border-color);
    height: var(--nav-height);
    width: 100px;
}
button:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}
select{
    width: 100px;
    text-align: center;
    border-radius: var(--border-radius);
    border-width: var(--form-border-width);
    border-color: var(--border-color);
    height: var(--nav-height);
}
option {
    height: 50px;
}

select:hover {
    border-color: var(--hover-color);
}

input {
    border-radius: var(--border-radius);
    border-width: var(--form-border-width);
    border-color: var(--border-color);
}
.bar-container {
    position: sticky;
    z-index: 10;
    background-color: var(--bg-color);
    filter: drop-shadow(0px 7px 4px rgba(100, 100, 100, 0.5));
}

.searchbar {
    height: var(--nav-height);
    width: 40%;
    padding-left: 10px;
    padding-top: 10px;
    display: inline-block;
}
.searchbar input {
    height: var(--nav-height);
    width: 80%;
}
.filterbar {
    display: inline-block;
}
.filterbar-list {
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.filterbar-item {
    list-style: none;
    height: var(--nav-height);
    display: inline-block;
    margin: 1px;
}
