{% extends 'base.html' %}

{% block head %}
<title>House Search</title>
{% endblock %}

{% block body %}
<div>
    <h1>House Search</h1>
    <form action="/" method="GET">
        <label><input type="range" min="500" max="4000" step="100" name="price">Price</label>
        <label><input type="range" min="1" max="20" step="1" name="bedroom">Bedrooms</label>
        <label><input type="range" min="1" max="20" step="1" name="bathroom">Bathrooms</label>
        <label><input type="range" min="500" max="7500" step="250" name="sq_ft">Square Feet</label>
        <div>
            <label><input type="checkbox" name="parking">Parking</label>
            <label><input type="checkbox" name="laundry">Laundry</label>
        </div>
        <div>
            Housing Type
            <label><input type="checkbox" name="apartment">Apartment</label>
            <label><input type="checkbox" name="house">House</label>
            <label><input type="checkbox" name="townhouse">Townhouse</label>
        </div>
        <input type="submit" value="Filter">
    </form>
    {% if houses|length > 0 %}
    <ul>
        {% for house in houses %}
        <li>
            <p>{{ house }}</p>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No results found!</p>
    {% endif %}
</div>
{% endblock %}